instructor_materials/resources/

instructor_materials/assignments/02_assignment.md
instructor_materials/assignments/03_assignment.md
instructor_materials/assignments/04_assignment.md
instructor_materials/assignments/05_assignment.md
instructor_materials/assignments/final.md
instructor_materials/assignments/midterm.md

wordpress/wp-config.php
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/backup-db/
wordpress/wp-content/backups/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/mu-plugins/
wordpress/wp-content/wp-cache-config.php
wordpress/wp-content/plugins/hello.php
wordpress/wp-content/themes/demo
wordpress/wp-content/themes/reference


