.on {
	background-color: #FFA335 !important;
}

.cart-notify i span {
	background: #FFA335;
}

/*menu*/
#top-menu.navbar-default .navbar-nav li:hover {
	border-bottom: 2px #FFA335 solid;
	transition: all 0.5s;
	background: #FFA335;
}

/*--Home page About us icon*/
#home-banner a.btn.chooser-btn {
	background-color: #FFA335;
}

.col-about-us i {
	color: #FFA335 ;
}
/*--why-choose-us background*/
#why-choose-us .section-title {
	background: #FFA335;
}
#why-choose-us .section-title:after {
	background: #FFA335;
}


/*--our-work-block background*/

#our-work-block .works figcaption {
	background: rgba(255,0,0,0.5);
}
/*--services icon*/
.services-block i {
	background: #FFA335;
}

#testimonial.owl-theme .owl-controls .owl-page.active {
	opacity: 1;
	border: 1px #FFA335 solid;
}

/*--clients*/
#clients-block {
	background: #FFA335;
}

/*--article head color*/
article a h5:hover {
	color: #FFA335;
}
/*--Free trial color*/

#free-trial-block a {
	border: 1px #FFA335 solid;
	background: #FFA335;
}

/*--Footer*/
.subcribe-block form .btn i.fa {
	color: #FFA335;
}

.subcribe-block form input:focus {
	border: 1px #FFA335 solid;
}
.bottom-footer .site-identity .socio li a:hover {
	color: #FFA335;
	transition: all 0.5s;
}

/*single*/

aside .widget_search button {
	background: #FFA335;
}
aside .widget_search button:hover {
	border: 1px #FFA335 solid;
}

.widget-title:after {
	background: #FFA335;
}

.tagcloud a:hover {
	background: #FFA335;
}

.single .single-post ul li:before,
.page .page-block ul li:before,
.single-jetpack-portfolio .page-block ul li:before {
	background: #FFA335;
}
blockquote {
	border-left: 3px #FFA335 solid;
}

.author-box .author-box-title {
	color: #FFA335;
}
.author-box .author-box-title a {
	background: #FFA335;
}

.single .single-post footer.entry-meta-bar a:hover,
.page .page-block footer.entry-meta-bar a:hover {
	border: 0px #FFA335 solid;
	background: #FFA335;
}

.posts-navigation ul li a:hover {
	border-color: #FFA335;
	background: #FFA335;
}

#respond input[type=submit] {
	background: #FFA335;
}

article header .date-article {
	background: #FFA335;
}

/*Woocommerce*/

.woocommerce span.onsale {
	background-color: #FFA335;
}
.woocommerce ul.products li.product .button:after {
	background: #FFA335;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	background: #FFA335;
}

